doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title PELICULAS
  link(type='text/css' rel='stylesheet' href='https://codex.nflxext.com/%5E3.0.0/truthBundle/webui/1.22.5-shakti-css-v352c4498/css/css/less%7Ccore%7Cerror-page.less/1/bqnspv4ulofar/none/true/none' data-uia='botLink')
  link(type='text/css' rel='stylesheet' href='https://codex.nflxext.com/%5E3.0.0/truthBundle/webui/1.22.5-shakti-css-v352c4498/css/css/less%7Csignup%7CnmContent%7CnmTitle%7CnmTitle.less/1/bqnspv4ulofar/none/true/none' data-uia='botLink')
  style.
        body
            {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
body
  script#player-core-js(src='https://assets.nflxext.com/en_us/ffe/player/html/cadmium-playercore-6.0034.249.911.js' async='')
#appMountPoint
  .basicLayout.nonmemberTitle.dark(lang='es-MX' dir='ltr')
    #disclosures.cookie-disclosure-visible
      #cookie-disclosure.disclosure.clearfix(data-uia='cookie-disclosure')
        .btn-container
    .nmtitle-wrapper.with-fixed-header
      .nm-content-header.is-fixed(data-uia='site-header')
        .nm-content-header-section.nm-content-header-left
          a.svg-nfLogo(href='/' data-uia='netflix-header-svg-logo')
            svg.svg-icon.svg-icon-n-logo(focusable='true' viewbox='225 0 552 1000')
              defs
                radialgradient#26469a10-fe37-4311-af3e-bb89881f15c7-a(r='75%' gradienttransform='matrix(.38 0 .5785 1 .02 0)')
                  stop(offset='60%' stop-opacity='.3')
                  stop(offset='90%' stop-opacity='.05')
                  stop(offset='100%' stop-opacity='0')
              path(d='M225 0v1000c60-8 138-14 198-17V0H225' fill='#b1060e')
              path(d='M579 0v983c71 3 131 9 198 17V0H579' fill='#b1060e')
              path(d='M225 0v200l198 600V557l151 426c76 3 136 9 203 17V800L579 200v240L423 0H225' fill='url(#26469a10-fe37-4311-af3e-bb89881f15c7-a)')
              path(d='M225 0l349 983c76 3 136 9 203 17L423 0H225' fill='#e50914')
            button.btn.btn-get-started.btn-red.btn-medium(type='submit' name='back') REGRESAR
        .nm-content-header-section.nm-content-header-right
          .nm-content-header-text Bienvenido, has iniciado sesi&oacute;n con el email: #{correo}
      section#section-hero.nmtitle-section.section-hero(data-uia='section-hero')
        .hero-container(data-uia='hero-container')
          .info-container
            .logo-container.logo-other
              img.logo(src='https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/tx1O544a9T7n8Z_G12qaboulQQE/AAAABd6D6ACfFi_c1pqRmSfnv4RLi8z8cauAj0wxd676fPImpNxuY1udfora9pkHUBvKdQF_MyVjI1vbxPpfl_G5b8MaOAvAjgEfpsvmPzoiDq1swDfa7hHboRGwNUQi1olO1j6lS-Yo6NRHhrh_ySOcOwjqTb5_ZPSS7TtFnY8IxlVx5A.png?r=ff9' alt='Death Note' data-uia='title-logo')
            .details-container
              .title-info(data-uia='title-info')
                h1.title-title(data-uia='title-info-title') Death Note
                .title-info-metadata-wrapper(data-uia='title-info-metadata-wrapper')
                  span.title-info-metadata-item.item-year(data-uia='item-year') 2017
                  span.info-spacer(role='presentation')  | 
                  span.title-info-metadata-item.item-maturity(data-uia='item-maturity')
                    span.maturity-rating
                      span.maturity-number TV-MA 
                  span.info-spacer(role='presentation')  | 
                  span.title-info-metadata-item.item-runtime(data-uia='item-runtime')
                    span.duration 1 h 40 min
                  span.info-spacer(role='presentation')  | 
                  span.title-info-metadata-item.item-genre(data-uia='item-genre') Pel&iacute;cula de terror
                .title-info-synopsis-talent(data-uia='title-info-synopsis-talent')
                  .title-info-synopsis(data-uia='title-info-synopsis')
                    | Un adolescente encuentra un cuaderno con poderes y lo usa para matar. Ahora tiene a un detective, un demonio y una chica tras &eacute;l.
                  .title-info-talent
                    .title-data-info-item.item-starring
                      span.title-data-info-item-label Protagonistas:
                      span.title-data-info-item-list(data-uia='info-starring') Willem Dafoe,Nat Wolff,LaKeith Stanfield
                    .title-data-info-item.item-creators
                      span.title-data-info-item-label Creado por:
                      span.title-data-info-item-list(data-uia='info-creators') Tetsur&omacr; Araki
          .hero-image-container
            .hero-image.hero-image-desktop(style='display:none;background-image:url("https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABXgVaclpS3VlDd0lJMp1Mb0xV6Anyo4IYyGN0TJ7Emppl3xhAcGN_MzqJ8fIEnIGk8klRz4BjNqALHoTeoHcH23MXdgd.jpg?r=05c")')
            .hero-image.hero-image-mobile(style='display:none;background-image:url("https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABdS618DPCLOvIKchabPLc4MizX36wk9WtJUD3jhNAzvDLWozbfkb501Oj6uBW__ypMcNKOqsIUCMwiI1sfJhir2xPFuM.jpg?r=e34")')
            picture.hero-image-loader(data-uia='title-logo')
              source(media='(max-width: 599px)' srcset='https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABdS618DPCLOvIKchabPLc4MizX36wk9WtJUD3jhNAzvDLWozbfkb501Oj6uBW__ypMcNKOqsIUCMwiI1sfJhir2xPFuM.jpg?r=e34')
              source(media='(min-width: 600px)' srcset='https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABXgVaclpS3VlDd0lJMp1Mb0xV6Anyo4IYyGN0TJ7Emppl3xhAcGN_MzqJ8fIEnIGk8klRz4BjNqALHoTeoHcH23MXdgd.jpg?r=05c')
              img(src='' alt='' aria-hidden='true')
        .value-prop-with-cta(data-uia='value-prop-with-cta')
          svg.value-prop-logo(viewbox='225 0 552 1000')
            defs
              radialgradient#aa520526-39be-4918-a10a-3de1a99f5f8a-a(r='75%' gradienttransform='matrix(.38 0 .5785 1 .02 0)')
                stop(offset='60%' stop-opacity='.3')
                stop(offset='90%' stop-opacity='.05')
                stop(offset='100%' stop-opacity='0')
            path(d='M225 0v1000c60-8 138-14 198-17V0H225' fill='#b1060e')
            path(d='M579 0v983c71 3 131 9 198 17V0H579' fill='#b1060e')
            path(d='M225 0v200l198 600V557l151 426c76 3 136 9 203 17V800L579 200v240L423 0H225' fill='url(#aa520526-39be-4918-a10a-3de1a99f5f8a-a)')
            path(d='M225 0l349 983c76 3 136 9 203 17L423 0H225' fill='#e50914')
          .value-prop-wrapper
            .value-prop(data-uia='value-prop') Ve todo lo que quieras.
            
      section#section-hook.nmtitle-section(data-uia='section-hook')
        .hook-hr
        .hook-text(data-uia='hook-text')
          | Del director de El proyecto de la bruja de Blair, una nueva visi&oacute;n del exitoso manga de Tsugumi Ohba y Takeshi Obata.
        .hook-hr
      section#section-additional-videos.nmtitle-section.section-additional-videos(data-uia='section-additional-videos')
        .section-header(data-uia='section-header')
          h2.section-header-text.section-item(data-uia='section-header-text') TRAILER
          h2.section-subheader-text.section-item(data-uia='section-subheader-text') Death Note
          iframe(width="560" height="315" src="https://www.youtube.com/embed/A4u8snMm6HQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
      section#section-more-titles.nmtitle-section(data-uia='section-more-titles' data-nosnippet='true')
        .section-header(data-uia='section-header')
          h2.section-header-text.section-item(data-uia='section-header-text') M&aacute;s t&iacute;tulos similares a este
        .link-container
          a.title-link
            img.title-link-img(data-uia='title-link-img' src='https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABYgMLxnNgcb0YazQscj0rI81rviRZoSsg3lEd8udji2P7m8D8mCpt8QWVBxlShtQsTgAB-TiZ3xtr5F9JoTzJgNCWpHu.jpg?r=56e' alt='Death Note: La película' loading='lazy')
          a.title-link
            img.title-link-img(data-uia='title-link-img' src='https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABaP4us0IRPb4x_Bv-PoUJ2TM2N9XTHTgHP-Lo9zVYzeaW11WhRwy8wlRXk3Fn1SUT5rdPeumT8S-vcqvO0maJZqKcQEs.jpg?r=3ca' alt='Death Note: El último nombre' loading='lazy')
          a.title-link
            img.title-link-img(data-uia='title-link-img' src='https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABb8s8dEiea_7ixGKHuPddZ7dFgA92Y9_OQpMdY8S5XqDhZUYdv0OIlGhjjH5EZMR4Y15ORpV4jxzNEpG72Fcbon3-dIS.jpg?r=6cf' alt='DEATH NOTE' loading='lazy')
          a.title-link
            img.title-link-img(data-uia='title-link-img' src='https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABS4l7zrnQdSw4L5NFWPUb9LI1olgKWO5ZE98vEAlGuZjsGXvH4wyqMXLwriOlGmXgdz8_rhKCBKsXWg0Xc1vlFP5pEXN.jpg?r=294' alt='Death Note: Iluminando un nuevo mundo' loading='lazy')
          a.title-link
            img.title-link-img(data-uia='title-link-img' src='https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABTJodJt1ql3EjURuSlQ0-5fKYUUAY-Nq4u8PJJaVq_N23d8M-0ObG47NV1FVdiNVbCFPROWkZzMhFPnZ-fE-EK0lxWc9M49cOQZxtifI0aqs9nFZhtxbCoG3ILdglA.jpg?r=3f8' alt='Puertas abiertas' loading='lazy')
          a.title-link
            img.title-link-img(data-uia='title-link-img' src='https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABf1D3EZRsD8xRodoahN1mu96Q__FdJvlXM0syCSqc8Amb3-ESsWfXMCvi9hBTvNeLKAsCt9ZuqDPVmX9L60aQbm8i0a5CxX5db608qTlL-VoRqEI58MRtYdl9mmJ5A.jpg?r=144' alt='Paredes siniestras' loading='lazy')
          a.title-link
            img.title-link-img(data-uia='title-link-img' src='https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABYUbaTJIf4ogwqSWOxBSXIrpHXCvZMZxBufMXEe5I6TE6m2gEqmdZJ3-86faihs_H-8NdfZOrITVABXAnQBeKgv-Gk2AmzA9usIiTBY98og6rviNPcdK1guBERjf-g.jpg?r=fb9' alt='Apóstol' loading='lazy')
          a.title-link
            img.title-link-img(data-uia='title-link-img' src='https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABYTemUZ25KXfB7TMXSeMZpOi9LZha_rYJWZr85vrq_-qCC_9lmi3J2yBV9hH2Y1lztEVL1gcTBW26ZaXWyDihFQrClqx.jpg?r=c87' alt='Los intrusos' loading='lazy')
          a.title-link
            img.title-link-img(data-uia='title-link-img' src='https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABZdHyabMajHrblDCsEbQVOIRiUCNayuC0bxRDmz8o1unh8FOKNGo5gXBvxR1abrMRGqBvrAl8CKdhTpNFl3qAIC5ploh.jpg?r=573' alt='Mudanza mortal' loading='lazy')
          a.title-link
            img.title-link-img(data-uia='title-link-img' src='https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABTEbKp39f1ENBrbXD_sZYw4uwivbXTbfzSYugSFh92tl7M5KNuQa875rNwyJc8KbCGV6zWahvu3gFsr9bzBcJ_09b7kd-25VynVAq6JdB1j0zeQFAvCY-Eahcj19lw.jpg?r=adb' alt='En la hierba alta' loading='lazy')
          a.title-link
            img.title-link-img(data-uia='title-link-img' src='https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABSj4A23llCfBH5G-zIMXKGS5r715yUaIBGnfNEk4Gl4w-GHD4PjxpAZWRGg7BvuhjffvYqLLgMQ0sfZBo_ztmZgagSeOcjfe_12z-Se4mL9XbCMhgDTQn9egwfpxzA.jpg?r=b13' alt='Heridas' loading='lazy')
          a.title-link
            img.title-link-img(data-uia='title-link-img' src='https://occ-0-3237-114.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABXkNC5Gh8wiHUNcBM8wlKCae22TV9LGXgF4rFN9kqbF8K91F9-e0xeMbGwKYxWAmgF6ce9rP64yMtOT952j5d8h8NMa7.jpg?r=1d4' alt='12 horas para sobrevivir: El año de la elección' loading='lazy')
      